
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}

    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'techstore/css/shared/general.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/shared/amazon-header.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/pages/amazon.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/pages/checkout/checkout-header.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/pages/checkout/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/pages/orders.css' %}">
    <link rel="stylesheet" href="{% static 'techstore/css/pages/tracking.css' %}">
    
</head>



{% block body %}


{% endblock body %}

<script type="module" src="{% static 'techstore/js/amazon.js' %}"></script>

