{% extends "amazon/header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    Product Details
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container mt-4">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col-md-6">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'default-image.jpg' %}" class="img-fluid" alt="No image available">
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>{{ product.description }}</p>
                <p>Price: ₦{{ product.price|floatformat:2 }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </form>
                
                <a href="{% url "checkout" %}" class="btn btn-sm btn-warning">
                    Buy now
                </a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
